*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* background-color: #000; */
    /* color: black; */
    /* margin: 0 30px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* background-color:rgba(162, 110, 177, 0.411); */

.container{
    width: 1365px;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(165, 111, 180, 0.185);
}
#bg1{
    background-color: rgba(0, 128, 0, 0.411);
    width: 8vw;
    /* height: 80vh; */
    min-height: 500px;
    border-bottom-right-radius:190px;
    position:absolute;
    top: 0;
    left: 0;
}
#bg2{
    background-color: rgba(0, 128, 0, 0.411);
    width: 8vw;
    border-top-left-radius:190px ;
    position:absolute;
    top: 110px;
    right: 0;
    bottom:0;
}
.bg12{
    width:1365px;
    height: 625px;
    display: flex;
    position: absolute;
    justify-content:space-between;
    z-index: -10;
}
.nav{
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content:space-around;
    align-items: center; 
    margin-top: -45px;
    box-shadow: rgba(162, 110, 177, 0.411) 0px 10px 10px 2px ;
}
.nav ul{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
.logo{
    width:140px;
    font-size:17px;
    font-family: cursive;
    color:rgb(59, 87, 11);
}
a{ 
    display:inline-flex;
    text-decoration: none;
    /* color: whitesmoke; */
    color: black;
    height: 0;
    position: relative;
}
.bars{
    background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    right: 30px;
    font-size: 26px;
    display: none;
}

.position{
    position: relative;
    left: 4rem;
}
h4{
    margin-top: 5rem;
    letter-spacing: 4px;
    font-size: 20px;
    background-image:linear-gradient(115deg,#2da04a,blue,#a767e5,
    #12bcfe,#44ce7b);
    background-clip: text;
    color: transparent;
}
.about{
    display: flex;
    justify-content: space-between;
}
.me{
    width: 540px;
    height: auto;
}
.me span{
    background-image:linear-gradient(115deg,#3283ce,rgb(148, 189, 51),#3aec67,
    rgb(50, 205, 115),#328db1);
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: transparent;
}
.me span:hover{
    animation: play 1.6s ease-in infinite;
}
h2{
     width:650px;
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}
p{ 
    color: rgb(104, 102, 102);
    letter-spacing: 1px;
}

.btn{
    width: 100px;
    padding: 10px 15px;
    border-radius: 30%;
    background-color: green;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color:transparent;
    border: 1.5px solid green;
    box-shadow: green 0px 0px 10px 0px ;
    transition: .3s  ease-in-out;
    color: black;
}


.nav a::after{
    content: "";
    height: 2px;
    width: 0;
    opacity: 0;
    background-color: green;
    position:absolute;
    bottom: -25px;
    transition: all .5s;
}
.nav a::before{
    content: "";
    height: 2px;
    width: 0;
    opacity: 0;
    background-color: green;
    position:absolute;
    top: -5px;
    transition: all .5s;
}
.nav a:hover::after{
    width:calc(100% + 6px) ;
    opacity: 0.7;
}
.nav a:hover::before{
    width:calc(100% + 6px);
    opacity: 0.7;
    
}
.aboutdiv{
    width: 1365px;
    height: 500px;
    background-color:rgba(162, 110, 177, 0.411);
}
.aboutdiv2{
    width: 1365px; 
}
.flag{
    width: 120px;
    padding: 10px;
    text-align: center;
    background-color: rgb(91, 36, 136);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
}
.infodiv{
    width: 750px;
    /* height: 300px; */
    border: 3px double purple;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;
    position: relative;
    left: 23%;
    top: 60px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
 letter-spacing: 1px;
}
.info span{
    color: rgb(97, 53, 97);
}

.my-div {
    width: 100%;
    height: 400px;
    background-color:rgb(88, 110, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .inner-div {
    width: 900px;
    height: 300px;
    background-color: white;
    margin: 0px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .bar {
    width: 400px;
    height: 17.5px;
    display: inline-block;
    margin: 10px auto;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
    color: white;
    font-size: small;
  }
  .inner-div h3{
    color: rgb(21, 62, 63);
  }
  .bar1{
    width: 750px;
    background-color: #a767e5;
  }
  .bar2{
    width: 500px;
    background-color:darkred;
  }
  .bar3{
    width: 400px;
    background-color:darkgoldenrod;
  }
  .bar4{
    width: 500px;
    background-color:rgb(67, 20, 78);
  }
  .bar5{
    width: 200px;
    background-color: #1e5511;
  }
  .skills{
    width: 540px;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.skills span{
    background-image:linear-gradient(115deg,#1a5286,rgb(216, 123, 37),#3c95a5,
    rgb(9, 155, 72),#68acc7);
    background-clip: text;
    color: transparent;
}
.skills span:hover{
    animation: play 1.6s ease-in infinite;
}
  
@media screen and (max-width:600px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        /* width: 100%; */
        height: 100vh;
    }
  .container{
    margin-top: 2rem;
  }
    .position{
        width: 450px;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
       position: relative;
       left: 0.5rem;
    }
    .resume{
        display: none;
    }
    .bars{
        display: block;
        position: absolute;
        top: 0px;
        right:1rem;
        color: green;
        background: transparent;
        cursor: pointer; 
    }
    .bars:hover{
        opacity: 0.6;
        transition: .4s;
    }
   .nav{
    width: 350px;
    display: block;
    position: relative;
    top: 1rem;
    background-color: rgba(165, 111, 180, 0.185);
   }
   .logo{
    position:relative;
    left: 10px;
   }
   .nav ul {
    visibility: hidden;
    opacity: 0;
    display: block;
    text-align: center;
    background-image:linear-gradient(170deg, rgb(218, 236, 218), rgb(189, 199, 241)) ;
    width: 100%;
    padding:20px 0;
    position: absolute;
    top: 3rem;
    z-index: 3;
   }
   .toggle ul{
    visibility: visible;
    opacity: 1;
    transition: 1s;
   }
   .nav li a{
    margin:  9px 0;
    color: black;
    font-size: larger;
   }
   .nav li:nth-child(odd){
    background-image:linear-gradient(170deg, rgba(202, 232, 250, 0.678), rgba(163, 231, 228, 0.479)) ;
   }
   .nav li:nth-child(even){
    background-image:linear-gradient(240deg,  rgba(215, 243, 215, 0.678), rgba(209, 247, 201, 0.479)) ;
   }
   .nav a::after,.nav a::before{
    content: none;
   }
   .nav li a:hover{
       font-size:1.3rem;
       opacity: 1;
       transition: .3s;
   }

   h4{
    width: 340px;
    margin-top: 2rem;
    font-size: 15px;
    color:#68acc7;
    background-image: none;
   }
   h2{
    width: 340px;
     font-size: 1.7rem;
   }
   .me span{
    background-image: none;
    color:rgb(16, 114, 81);
   }
   #image{
    display: none;
   }
   .me p{
    width: 300px;
    text-align:left;
   }
   .resume{
    padding: 10.5px 17.5px;
    position: relative;
    top: 16rem;
   }
   .cv button{
    position:fixed;
    bottom: 2rem;
    right: 1.6rem;
   }
   .bg12{
    display: none;
   }
   
.container,nav,.me,.about,.position ,nav ul,.aboutdiv,.aboutdiv2{
    width: 350px;
}
.aboutdiv,.aboutdiv2{
    height:700px;
}

.infodiv{
    width: 330px;
    margin-top: -30px;
    position: relative;
    transform: translate(-22%,0%);
}
.flag{
    position: relative;
    transform: translate(80%);
}
}
.my-div {
    width: 350px;
    height: 500px;
  }
  .inner-div {
    width: 400px;
    height: 280px;
    transform: rotate(270deg);
    font-size: small;
    margin-top: 10rem;
    position: relative;
   right: 2rem;
   bottom: 5rem;
  }

 
  .bar1{
    width: 250px;
    background-color: #a767e5;
  }
  .bar2{
    width: 200px;
    background-color:darkred;
  }
  .bar3{
    width: 100px;
    background-color:darkgoldenrod;
  }
  .bar4{
    width: 200px;
    background-color:rgb(67, 20, 78);
  }
  .bar5{
    width: 50px;
    background-color: #1e5511;
  }
  .skills{
    width: 340px;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.skills span{
    background-image:none;
    color: rgb(77, 170, 139);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.skills span:hover{
    animation: play 1.6s ease-in infinite;
}
  
@keyframes play{
    0%{
        background-position: 0px;
    }
    20%{
        background-position: -110px;
    }
    35%{
        background-position: -180px;
    }
    50%{
        background-position: -210px;
    }
    80%{
        background-position: -350px;
    }
    100%{
        background-position: -390px;
    }
}